# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Matplotlib
- Scikit-learn

|Data Science Tools|
--------------------
|Jypter Notebook   |
|Spyder            |
|RStudio           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# Convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

**Objectives:**
List popular languages for Data Science
* Python
* R
* SQL

## Author
Shyamkishor Tiwari